@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700;800;900&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header {
  background-color: yellow;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 15px;
  font-family: 'Montserrat', sans-serif;
  font-size: 14px;
}

.list {
  display: flex;
  justify-content: center;
  list-style-type: none;
}

.list-item {
  margin-right: 15px;
  padding: 15px;
}

.list-item:last-child {
  margin-right: 0;
}

.list-item:hover {
  cursor: pointer;
  background-color: rgb(199, 199, 199);
}

.main-container {
  display: flex;
  justify-content: space-around;
}

.left-block {
  width: calc((100% - 30px) / 3);
  margin-right: 30px;
  padding: 10px;
}

.section-title {
  text-transform: uppercase;
}

.block:not(:last-child) {
  margin-bottom: 30px;
}

.contacts-list {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}

.right-block {
  width: calc(((100% - 30px) / 3) * 2);
}

.footer {
  background-color: yellow;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer-year::before {
  content: "\00A9";
  margin-right: 5px;
}

.footer-github {
  text-decoration: none;
  color: black;
}

.footer-github:hover {
  font-weight: 600;
  color: blue;
}

.footer-course {
  width: 121px;
  height: 45px;
  background-image: url(../assets/svg/rss_logo.svg);
  background-size: contain;
  background-repeat: no-repeat;
}